{% extends 'base.html' %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="login-page">
    <h2>Вход в систему</h2>
    <form id="loginForm">
        <input type="text" id="username" name="username" placeholder="Логин" required>
        <input type="password" id="password" name="password" placeholder="Пароль" required>
        <button type="button" class="btn" id="loginButton">Войти</button>
        <div>
            <a href="{{ url_for('registration') }}">Зарегистрироваться</a>
        </div>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const loginButton = document.getElementById('loginButton');
    loginButton.addEventListener('click', function(e) {
        e.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        const data = {
            username: username,
            password: password
        };

        fetch('{{ url_for("login") }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            else if(response.status === 401) {
                throw new Error("Ошибка при вводе логина, или пароля");
            }
            else {
                throw new Error('Проблема с сетевым соединением');
            }
        })
        .then(data => {
            console.log('Success:', data);
            alert("Успешный вход");
            window.location.href = '{{ url_for("contests") }}';
        })
        .catch((error) => {
            console.error('Ошибка:', error);
            alert(error.message);
        });
    });
});
</script>
{% endblock %}

